# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (future frontend)
node_modules/

# IDE
.vscode/
.idea/
